<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
</head>

<body>
    <table>

        <tr>
            <td>
                <p>
                    Hi <%=email%>,
                </p>

                <p>
                </p>
                <p>
                    Thank you for signing up. <br> We really appreciate you for your readiness to be part of us. We
                    really value your privacy, dont share your password with anyone. <br><br>

                    <strong>
                        <%=new_password%>
                    </strong>,
                    <br><br>

                <p>Thank you</p>
                </p>
            </td>
        </tr>
    </table>
</body>

</html>