<body class="h-auto">

<div class="register-employee flex justify-center">
    <form [formGroup]="registrationForm" (ngSubmit)="createUser()" class="w-[30vw] shadow-2xl p-8 bg-gray-100">
        <h1 class="flex justify-center font-bold my-8">Input Registration Details</h1>
        <div class="flex flex-col mb-2">
            <label for="" class="mb-[5px]">userName </label>
            <input data-cy="userName" type="text" formControlName="userName" placeholder="Enter your username"
                class="py-[5px] px-[10px] border-solid border-[1px] border-grey-300">
            <div *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched"
                class="text-red-500">userName is required</div>
        </div>
        <div class="flex flex-col mb-2">
            <label for="" class="mb-[5px]">Email </label>
            <input data-cy="email" type="email" formControlName="email" placeholder="Enter your email"
                class="py-[5px] px-[10px] border-solid border-[1px] border-grey-300">
            <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched"
                class="text-red-500">Email is required</div>
        </div>
      
     
        <div class="flex flex-col mb-2">
            <label for="" class="mb-[5px]">Password </label>
            <input data-cy="password" type="password" formControlName="password" placeholder="Enter your password"
                class="py-[5px] px-[10px] border-solid border-[1px] border-grey-300">
            <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched"
                class="text-red-500">Password is required</div>
        </div>
        <div class="flex flex-col mb-2">
            <input data-cy="create-employee-btn" type="submit" value="Register"
                class="py-[5px] px-[10px] bg-blue-500 hover:bg-blue-600 text-white cursor-pointer">
        </div>
    </form>
</div>
</body>